*{
 margin: 0;
 padding:0;
 box-sizing: border-box;
 
 /* font-family: 'Inspiration', cursive; */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* squeeze together */
  margin: 0% 20%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h6{
  color: black;
  font-size: 1rem;
  line-height: 2.5rem;
  margin: 2rem 0rem;
  text-align: justify;
  padding-right: 2rem ;
  font-family: 'Life Savers', cursive;

}

h5
{
  color: #5f4339;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 2rem 0rem;
  text-align: justify;
  padding-bottom: 2rem;
  padding-top: 2rem;
  padding-right: 2rem ;
  font-family: 'Life Savers', cursive;
}

h4 {
  color: #ca9b52;
  font-size: 1rem;
  font-family: 'Chelsea Market', cursive;
}
h3 {
  color: #5f4339;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 2rem 0rem;
  text-align: center;
  padding-bottom: 2rem;
  font-family: 'Chelsea Market', cursive;
}
a{
  color: grey;
}

/* img{
  border-radius: 2rem;
} */